@media (max-width: 991px) {
	nav {
		right: 50px;
	}
	.hero-image .water-mark {
		border-radius: 20%;
    height: 500px;
    width: 500px;
    position: absolute;
  }
  .hero-text h1 {
  	font-size: 45px;
  }
  .hero-image img {
  	display: none;
  }
  .hero .hero-text {
		margin: 80px;
		text-align: center;
	}
	.hero, .page-2, .page-3, .page-4, .page-5 {
  	grid-template-columns: 1fr;
  }
	.segment p, .segment li {
		padding: 0;
	}
	.page-3 .skills {
  	display: none;
  }
  .page-5 .skills {
  	display: block;
 	}
	.page-4 .int-skill__list {
	 	display: flex;
	 	justify-content: space-between;
	}
	.projects .project-list {
    grid-template-columns: repeat(3, 1fr);
	}
	.footer {
		display: block;
	}
	.footer p {
		text-align: justify;
	}
	.contact {
		margin-top: 100px;
	}
	.contact, .contact p {
		text-align: center !important;
	}
	.contact .socials {
		display: flex;
	}
	.contact .socials img {
		max-width: 60%;
	}
	.contact .socials a {
		margin: 30px;
	}
}

@media (max-width: 890px) {
	.navigator img {
		opacity: 0.25;
		width: 10%;
	}
	.segment {
		padding: 25px;
	}
  .hero .hero-text {
		margin: 80px 20px;
	}
  section .segment {
  	margin: 0;
  }
  .segment p, .segment li {
		line-height: 2em;
		padding: 0;
		text-align: left;
	}
	.projects .project-list {
    grid-template-columns: repeat(2, 1fr);
	}
	.contact .socials {
		display: block;
	}
	.contact .socials img {
		max-width: 10%;
	}
	section .footer {
  	grid-template-columns: 1fr;
  	margin: 0;
  }
  .footer section {
  	padding: 20px 0;
  }
}

@media (max-width: 480px) {
	.page-5 .int-skill__list section h1 {
	 	font-size: 16px;
	}
	.page-5 .int-skill__list section ul li {
		font-size: 12px;
	}
	.projects .project-list {
    grid-template-columns: repeat(1, 1fr);
	}
	.projects .project-list .card-image {
    filter: initial;
    -webkit-filter: initial;
	}
	.contact .socials img {
		filter: grayscale(0%);
	  -webkit-filter: grayscale(0%);
	}
}

@media (max-width: 340px) {
	body {
		font-size: 14px;
	}
	.navigator img {
		width: 18%;
	}
	.segment {
		margin: 15px;
		padding: 0;
	}
	nav {
		position: inherit;
		width: 50px;
		height: 50px;
		margin: 20px auto;
	}
  .hero .hero-text {
		margin: 80px 20px;
	}
  .segment p, .segment li {
		line-height: 1.8em;
	}
	.contact {
		margin-top: 50px;
	}
	.contact, .contact p {
		text-align: center;
	}
	.contact .socials {
		display: block;
	}
	.contact .socials img {
		max-width: 10%;
	}
		.contact .socials a {
		margin: 10px;
	}
}

@media (max-width: 320px) {
	body {
		font-size: 13px;
	}
	.segment {
		margin: 0;
		padding: 15px;
	}
}