/*
** Under the Creative Commons License
** @author Segun Akanbi
*/

html {
	scroll-behavior: smooth;
	transition: all 0.5s;
}
body {
	font-size: 16px;
	margin: 0;
	font-family: 'Montserrat';
}
p {
	color: #2f2f2f;
	font-size: 16px;
	line-height: 2em;
}
a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
nav {
	display: flex;
	justify-content: space-between;
	padding: 16px 30px;
}
.container {
	padding: 3em;
}
.divider {
	border: 1px solid lightgrey;
	margin-top: 5em;
	margin-bottom: 5em;
	width: 90%;
}
.container .content .grid {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	gap: 4em;
	margin: 60px auto;
}
.container .header {
	color: #2f2f2f;
	font-family: 'Trebuchet MS';
	letter-spacing: -5px;
}
.container .header.project_title {
	font-size: 78px;
}
.container .header.sub_heading {
	color: #656565;
	font-size: 54px;
}
.content .project_summary p {
	margin: 0;
	text-align: justify;
}
.content .showcase {
	text-align: center;
}
.content .showcase img {
	border: 1px solid #ddd;
	border-radius: 7px;
	box-shadow: 1px 1px 8px 1px #999;
	padding: 15px;
}
.gallery {
	display: flex;
	justify-content: space-between;
}
.gallery img {
	width: 50%;
}
.showcase4__gallery {
	display: flex;
	justify-content: space-evenly;
	margin: 50px auto;
}
.showcase4__gallery img {
	width: 25%;
}











.back-arrow {
	cursor: pointer;
	font-size: 24px;
	display: flex;
	place-items: center;
}
.back-arrow img {
	opacity: 0.8;
	width: 3%;
	transform: rotate(90deg);
}
footer .scroll-to-top {
	box-shadow: 1px 1px 8px 1px #999;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 12px;
	place-items: center;
	height: 45px;
	width: 45px;
	position: fixed;
	bottom: 30px;
	right: 30px;
}
footer .scroll-to-top img {
	opacity: 0.8;
	width: 2em;
	transform: rotate(180deg);
}

@media (max-width: 1350px) {
	.container .content .grid {
		display: block;
	}
}
@media (max-width: 992px) {
	.container {
		padding: 2em;
	}
	.container .content .grid {
		margin: 0;
	}
	.container .header {
		letter-spacing: -2px;
		margin: 20px 0;
	}
	.container .header.project_title {
		font-size: 58px;
	}
	.container .header.sub_heading {
		font-size: 34px;
	}
	.content .showcase img {
		margin: 20px auto;
		padding: 0;
		width: 100%;
	}
	.gallery {
		flex-direction: column;
		align-items: center;
	}
	.gallery img {
		width: 100% !important;
	}
	.laptop_mockup img {
		width: 100%;
	}
	.divider {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.showcase3__gallery div {
		display: block !important;
		margin: auto;
		width: 50% !important;
	}
	.showcase3__gallery img {
		float: none !important;
		margin: 0 !important;
		width: 100% !important;
	}
	.showcase4__gallery {
		flex-direction: column;
		width: 50%;
	}
	.showcase4__gallery img {
		margin-bottom: 30px;
		width: 100%;
	}
}
@media (max-width: 480px) {
	.back-arrow img {
		width: 6%;
	}
}