/*
** Under the Creative Commons License
** @author Segun Akanbi
*/

html {
	scroll-behavior: smooth;
	transition: all 0.5s;
}
body {
	margin: 0;
	font-family: 'Trebuchet MS';
}
p {
	color: #2f2f2f;
	font-size: 20px;
	line-height: 2.3em;
}
a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
#top_header {
	padding-left: 200px;
}
nav {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}
aside {
	display: flex;
	justify-content: flex-end;
	padding-right: 200px;
}
aside ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
aside ul li {
	font-size: 16px;
	list-style-type: none;
	margin-bottom: 10px;
}
aside ul li:hover {
	color: #a2a2a2;
}
.divider {
	border: 1px solid lightgrey;
	margin-top: 5em;
	margin-bottom: 5em;
	width: 90%;
}
.container {
	padding: 0 200px;
}
.container .content .grid {
	display: flex;
	justify-content: space-around;
	margin: 30px auto;
}
.container .header {
	color: #2f2f2f;
	font-family: 'Trebuchet MS';
	letter-spacing: -3px;
}
.container .header.project_title {
	font-size: 59px;
}
.container .header.sub_heading {
	color: #656565;
	font-size: 30px;
}
.content .project_summary {
	padding-right: 120px;
}
.content .project_summary p {
	margin: 0;
	text-align: justify;
}
.content .showcase {
	text-align: center;
}
.content .showcase img {
	border-radius: 7px;
	box-shadow: 1px 1px 8px 1px #999;
}
.gallery {
	display: flex;
	justify-content: space-between;
}
.gallery img {
	width: 50%;
}
.showcase4__gallery {
	display: flex;
	justify-content: space-evenly;
	margin: 50px auto;
}
.showcase4__gallery img {
	width: 20%;
}


.back-arrow {
	cursor: pointer;
	font-size: 32px;
	display: flex;
	place-items: center;
}
.back-arrow img {
	opacity: 0.8;
	margin-left: -20px;
	width: 5%;
	transform: rotate(90deg);
}
footer .scroll-to-top {
	box-shadow: 1px 1px 8px 1px #999;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 12px;
	place-items: center;
	height: 45px;
	width: 45px;
	position: fixed;
	bottom: 30px;
	right: 30px;
}
footer .scroll-to-top img {
	opacity: 0.8;
	width: 2em;
	transform: rotate(180deg);
}

@media (max-width: 992px) {
	p {
		font-size: 14px;
	}
	nav {
		padding-left: 20px;
	}
	#top_header {
		padding-left: 100px;
	}
	aside {
		padding-right: 0;
	}
	.container {
		padding: 0 100px;
	}
	.container .content .grid {
		margin: 0;
	}
	.container .header {
		letter-spacing: -2px;
		margin: 20px 0;
	}
	.container .header.project_title {
		font-size: 35px;
	}
	.container .header.sub_heading {
		font-size: 22px;
	}
	.content .showcase img {
		margin: 20px auto;
		padding: 0;
		width: 100%;
	}
	.gallery {
		flex-direction: column;
		align-items: center;
	}
	.gallery img {
		width: 100% !important;
	}
	.laptop_mockup img {
		width: 100%;
	}
	.divider {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.showcase3__gallery div {
		display: block !important;
		margin: auto;
		width: 50% !important;
	}
	.showcase3__gallery img {
		float: none !important;
		margin: 0 !important;
		width: 100% !important;
	}
	.showcase4__gallery {
		margin: 10px auto;
		width: 50%;
	}
	.showcase4__gallery img {
		margin-bottom: 30px;
		width: 60%;
	}
	.showcase4__gallery img:first-child {
		transform: translateX(80px);
	}
	.showcase4__gallery img:last-child {
		transform: rotate(-25deg);
	}
}
@media (max-width: 780px) {
	.container {
		padding: 0;
	}
	.container .content .grid {
		display: block;
	}
	.content .project_summary {
		padding-right: 60px;
	}
	.showcase4__gallery {
		display: block;
	}
}
@media (max-width: 480px) {
	#top_header {
		padding-left: 0;
	}
	p {
		line-height: 2em;
	}
	#main {
		padding: 0 25px;
	}
	.content .project_summary {
		padding-right: 0;
	}
	.back-arrow img {
		margin-left: -30px;
		width: 10%;
	}
}